/* You can add global styles to this file, and also import other style files */
body {
    width: 100%;
    background: ghostwhite;
}

.close-btn {
    font-family: monospace!important;
    color: indianred!important;
    cursor: pointer;
    font-size: 2rem;
}